@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 207 88% 94%;
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 207 82% 67%;
    --primary-foreground: 222 84% 5%;
    --secondary: 207 80% 88%;
    --secondary-foreground: 222 84% 5%;
    --muted: 207 80% 88%;
    --muted-foreground: 222 84% 25%;
    --accent: 261 40% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 82% 85%;
    --input: 0 0% 100%;
    --ring: 207 82% 67%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 82% 67%;
    --sidebar-primary-foreground: 222 84% 5%;
    --sidebar-accent: 222 47% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 15%;
    --sidebar-ring: 207 82% 67%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 82% 67%;
    --primary-foreground: 222 84% 5%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 261 40% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 207 82% 67%;
    --sidebar-background: 222 47% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 82% 67%;
    --sidebar-primary-foreground: 222 84% 5%;
    --sidebar-accent: 222 47% 13%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 47% 13%;
    --sidebar-ring: 207 82% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body {
    background: white !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}
